API_KEY = # get this value from my.telegram.org
API_HASH = # get this value from my.telegram.org
ALIVE_LOGO = # get this value from telegra.ph
BOTLOG_CHATID = # get this value from in your log group 
BOT_TOKEN = # get this value from @Botfather
BOT_USERNAME = # get this value from @Botfather
STRING = # get this value from @IndomieStringBot
STRING2 = # get this value from @IndomieStringBot
STRING3 = # get this value from @IndomieStringBot
STRING4 = # get this value from @IndomieStringBot
STRING5 = # get this value from @IndomieStringBot
